@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}
body {
  font-family: 'Rajdhani', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg__card {
  display: flex;
  width: 100%;
  height:100vh;

  overflow: hidden;
  transition: all 0.2s ease;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
}

.card__text {
  flex: 1;
  padding: 16px;
  transition: all 0.2s ease;
}

.text__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 8px;
}

.text__sub {
  font-size: 1rem;
  line-height: 1.4;
}

.card__image {
  width: 100%;
  height:100%;
  background-size: cover;
  position: relative;
  background-repeat:no-repeat;background-position: center center;

}

.image__gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease;


  .aa {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
      display:none;
  }
}