body{
    overflow: hidden;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 600;
    height: 100vh;
    .rr{
        position: relative;
        width:300px;
        height: 500px;
        border-radius: 20px;
        &:before{
            content: '';
            position: absolute;
            top:0;
            left:0;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg,#363ea8,#327bd8,#59bfd7);
            filter:blur(20px);
            border-radius: 20px;
            z-index: -1;
            transform: rotate(15deg);
        }
       
    }
    img{
        width: 300px;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;
     
    }
}
